<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">2021 Kamp Kecker Family Reunion<br></div>
                <div class="intro-lead-in">Saturday, June 26th - Saturday, July 3rd, 2021</div>
                <div class="intro-lead-in">North Myrtle Beach, South Carolina</div>
                <a href="#about" class="page-scroll btn btn-xl">More Info</a>
            </div>
        </div>
    </header>

    {% include 2017_data/about.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>


