<!DOCTYPE html>
<html>

  {% include 2022_data/head.html %}


    <body id="page-top" class="index">

    {% include 2022_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">2023 Toys R Us Reunion & Wedding Celebration!<br></div>
                <div class="intro-lead-in">Sunday, June 11th - Sunday, June 18th, 2023</div>
                <div class="intro-lead-in">Holden Beach, NC</div>
                <a href="#about" class="page-scroll btn btn-xl">More Info</a>
            </div>
        </div>
    </header>

    {% include 2022_data/about.html %}
    {% include 2022_data/contact.html %}
    {% include 2022_data/footer.html %}
    {% include 2022_data/js.html %}

    </body>
</html>


