<!DOCTYPE html>
<html>

  {% include 2022_data/head.html %}


    <body id="page-top" class="index">

    {% include 2022_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><p style="color:#FF0000";>IMPORTANT: REUNION IS A GO! THANK YOU KEVIN & NATALIE!!</p><br></div>
                <div class="intro-heading">2022 Kentucky Family Reunion<br></div>
                <div class="intro-lead-in">Saturday, July 8th - Saturday, July 16th, 2022</div>
                <div class="intro-lead-in">Bluegrass Palace, Langley, KY</div>
                <a href="#about" class="page-scroll btn btn-xl">More Info</a>
            </div>
        </div>
    </header>

    {% include 2022_data/about.html %}
    {% include 2022_data/contact.html %}
    {% include 2022_data/footer.html %}
    {% include 2022_data/js.html %}

    </body>
</html>


